:root {
  --poiret: "Poiret One", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --lato: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --spacing: 20px;
  --white: #f0f2f2;
}

body {
  margin: 0;
  color: var(--white);
  background: linear-gradient(90deg, hsla(188, 69%, 14%, 1), hsla(201, 31%, 33%, 1)),
            hsla(188, 69%, 14%, 1);
  font-size: 18px;
  font-weight: 300;
  font-family: var(--lato);
  line-height: 1.5;
}

main {
  position: relative;
}

a:link,
a:visited,
a:hover {
  color: #80b2cc;
}

a:hover {
  cursor: pointer;
  color: #6fb6dc;
}

p {
  margin: 0 0 var(--spacing);
}

b {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--poiret);
  font-weight: 400;
}
