@import "normalize.css";
@import "global.css";

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

.main-img {
  width: 40vw;
  height: 100vh;
  background-size: cover;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.main-content {
  padding: 20px 60px;
  width: calc(60vw - 122px);
  min-height: calc(100vh - 40px);
  border-left: 2px solid white;

  font-size: 18px;
  font-family: Raleway;
  line-height: 1.25;

  background-blend-mode: hard-light;
  background-repeat: no-repeat;

  position: absolute;
  top: 0;
  right: 0;
}

.navigation {
  margin: var(--spacing) 0 calc(var(--spacing) * 2);
  border-bottom: 2px solid white;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navigation li {
  text-align: center;
  padding: 0 0 10px;
  margin-left: var(--spacing);
}

.navigation a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 3px;
  color: var(--white);
}

.navigation-current a {
  font-weight: 700;
}

.introduce-yourself {
  font-size: 68px;
  font-family: var(--poiret);
  line-height: 1;
  font-weight: 900;
  margin: 25vh 0 40px;
}

.intro-copy {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.4;
  max-width: 540px;
}

.intro-copy--no-margin {
  margin-bottom: 0;
}

.post-listing {
  max-width: 860px;
  margin: 0 0 calc(var(--spacing) * 2);
}

.post-listing-excerpt {
  font-style: italic;
  max-width: 620px;
}

.post-listing-meta {
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  max-width: 620px;
}

.post-listing-tags {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-listing-tags li {
  display: inline;
}

.post-listing-tags a {
  color: var(--white);
}

.post-listing-spacer {
  margin: 0 10px;
  color: var(--blue);
}

.attribution {
  font-family: Raleway;
  font-size: 12px;
  position: fixed;
  bottom: 5px;
  left: 5px;
  width: 40vw;
}

.attribution a {
  color: var(--white);
}
